<h4 class="blog-post-title">Brands</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="openBrand(emptyBrand);">&nbsp;Add New Brand</button>

<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">List of brands
            <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter brands list ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr ng-show="listBrand.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
                <tr ng-hide="listBrand.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

                <tr>
                    <th >Name</th>
                    <th >Description</th>
                    <th>actions</th>

                </tr>
                <tr ng-repeat="brand in listBrand">
                    <td>{{brand.name}}</td>
                    <td>{{brand.description}}</td>
                    <td style="width:100px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default fa fa-edit" ng-click="openBrand(brand);"></button>
                            <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteBrand(brand);"></button>
                        </div>
                    </td>

                </tr>
            </table>

        </div>
    </div>
</div>
              