    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 ng-if="product.id" class="modal-title">Edit product [ID: {{product.id}}]</h3>
        <h3 ng-if="!product.id" class="modal-title">Add product </h3>
    </div>
    <div class="modal-body">

        <form name="product_form" class="form-horizontal" role="form" novalidate>
            <form-element label="NAME" mod="product">
                <input type="text" class="form-control" name="name" placeholder="NAME" ng-model="product.name" ng-disabled="product.id" focus/>
            </form-element>
            <form-element label="Product" mod="product">
                <input type="text" class="form-control" name="product" placeholder="Product" ng-model="product.product"  focus/>
            </form-element>

            <form-element label="Short Description" mod="product">
                <input type="text" class="form-control" name="shortDescription" placeholder="short Description" ng-model="product.shortDescription"  focus/>
            </form-element>
            <form-element label="Description" mod="product">
            <textarea class="form-control" name="description" placeholder="DESCRIPTION" ng-model="product.description">{{product.description}}</textarea>
            </form-element>


            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveProduct(product);"
                                ng-disabled="product_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

